@tailwind base;
@tailwind components;
@tailwind utilities;

.Page_container{
  display: flex;
  flex-direction: column;
  gap: px;
  background-color: aqu;
  

}
/* .Page_container div{
  display: flex;
  gap: 15px;
  margin-left: 28px;
  padding: 0 5vw; */

.con{
  display: flex;
  justify-content: space-between;
  /* gap: 14%; */
  background-color: chocolat;
  margin-top: 150px;
  
}
.image_page{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.image_page1{
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  background-color: rgb(235, 231, 231);
  border-radius: 100%;
  height: 40px;
  width: 36px;
  margin-left: -35px;
  margin-top: 15px;
}
.image_page1 img{
  width: 22px;
  height: 30px;
  padding-top: 7px;
  margin-left: 7px;
}
.video{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 78px;
}
.video img{
  width: 28px;
  height: 28px;
  padding-left: 5px;
}
.video img:hover{
  background-color: rgb(235, 231, 231);
  border-radius: 100%;
  width: 30px;
  height: 30px;

}
.note{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}
.note img{
  height: 24px;
  width: 24px;
}
.note img:hover{
  background-color: rgb(235, 231, 231);
  border-radius: 100%;
  width: 26px;
  height: 26px;
}
/* .note img:hover{
  background-color: aqua;
  border-radius: 100%;
  height: 30px;
  width: 30px;
} */
.not{
  /* background-color: rgb(235, 231, 231);
  border-radius: 100%;
  height: 35px;
  width: 30px;
  padding: 5px; */
  margin-left: 80px;
  display: flex;
  gap: 35px;
}
.ham{
  padding: 5px;
  border-radius: 100%;
}
.ham:hover{
  background-color: darkgray;
  cursor: pointer;
}