.SideBar{
    width: 100px;
    background-color: blu;
    height: 100vh;
    position: fixed;
    top: 70px;

}
.section{
    margin-bottom: 20px;
    padding: 8px;
    background-color: blueviole;
    
}
.item{
    /* display: flex;
    align-items: center; */
    padding: 10px 5px;
    cursor: pointer;
}
.item img{
    padding-left: 10px;
    height: 20px;
    width: 30px;
}
.item h3{
    font-size: 18px;
    font-weight: 500;
}
.item p{
    font-size: small;
    font-weight: 400;
}
.item h1{
    font-size: small;
    font-weight: 400;
    padding-left: 6px;
}